# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.opensdf
*.sdf
*.suo
*.user

wcm/Debug/
wcm/Release/
ipch/

wcm/libconf_ux.h
wcm/info.txt
wcm/makelib.mk
wcm/wcm
wcm/libtester/libfreetype_test
wcm/libtester/libssh2test
wcm/libtester/libsmb40test
wcm/libtester/libsmbtest

#Code::Blocks IDE files
wcm/*.depend
wcm/*.layout

Debug/
Release/

libssh2/dll32/

*.obj
*.ncb
*.exe
