# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.opensdf
*.sdf
*.suo
*.user

wcm

src/Debug/
src/Release/
ipch/

src/libconf_ux.h
src/info.txt
src/libtester/libfreetype_test
src/libtester/libssh2test
src/libtester/libsmb40test
src/libtester/libsmbtest
src/obj/wcm.res

#Code::Blocks IDE files
*.depend
*.layout

build/
Debug/
Release/

libssh2/dll32/

*.obj
*.ncb
*.exe
