[Desktop Entry]
Type=Application
Name=WCM Commander
GenericName=File manager
Comment=Dual pane file manager 
Exec=wcm
TryExec=wcm
Terminal=false
Categories=Utility;FileTools;
Icon=wcm
StartupNotify=true
